.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.puzzle {
  background-color: #aaa;
  padding: 10px;
  border-radius: 10px;
}

.puzzle.done {
  background-color: #79a;
}

.connection-button {
  border: none;
  margin: 5px;
  background: #666;
  color: white;
}

.connection-button.lit {
  color: yellow;
}

.connection-button.pressed {
  background-color: #222;
}

.connection-puzzle {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.connection-rules {
  font-size: 12px;
}
